<%# <h1>Movies</h1> %>

<%# <% if user_signed_in? %>
  <%# <div class="ml-auto"> %>
    <%# <%= button_to "Sign Out", destroy_user_session_path,
    <% method: :delete, class: "nav-link bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>  
  <%# </div> %>
<%# <% end %> 

<div style="position: relative;">
  <%= image_tag image_path('background.jpg'), style: "width: 100%; height: 50vh;" %>
  <h1 class="heading font-bold mb-2  " style="position: absolute; top: 0; right: 5; padding: 25px; color: red;">
    <%= "FLEX" %>
  </h1>
  <%# <%= link_to "Sign out",destroy_user_session_path, style: "position: absolute; top: 8%; right: 25px; transform: translateY(-50%); background-color: red; color: white; padding: 10px 20px; text-decoration: none;" %> 
   <div class="ml-auto">
     <%= button_to "Sign Out", destroy_user_session_path,
     method: :delete, class: "nav-link bg-blue-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded",style: " position: absolute; background: red; top: 8%; right: 25px " %>  
  </div>
</div>
<div class="py-4">
  <h3 class="text-4xl font-extrabold text-gray-800 mb-4">All Movies</h3>
  <%= link_to "New Movie", new_movie_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded" %>
</div>
<div class="flex flex-wrap">
  <% @movies.each.with_index(1) do |movie, index| %>
    <div class="bg-white rounded shadow p-4 w-1/7 mb-4 px-4 transition-transform transform-gpu hover:scale-95">
      <%= link_to movie_path(movie) do %>
        <%= image_tag movie.image_url, class: "w-64 h-64 object-cover" %>
      <% end %>
    </div>

    <% if (index % 7 == 0) %>
      </div>
      <div class="flex flex-wrap">
    <% end %>
  <% end %>
</div>









