  <h1 class="heading mb-2"><%= @movie.name %></h1>
  <p class="text-lg mb-2"><%= @movie.description %></p>
  <p class="text-sm"><strong>Genre:</strong> <%= @movie.genre %></p>
  <p class="text-sm"><strong>Release:</strong> <%= @movie.release%></p>
  <p class="text-sm"><strong>Director:</strong> <%= @movie.director_name %></p>
 
